.Popup {
    z-index: 1;
    position: absolute;
    height: 96%;
    width: 96%;
    background-color: #bbbbbb;
    opacity: .98;
    margin: 1%;
    .btn {
        position: absolute;
        height: 50px;
        width: 120px;
        border: 1px #eeeeee solid;
        bottom: 20px;
        color: white;
        background-color: #333333;
        cursor: pointer;
        transition: background-color .5s, border .5s, color .5s;
        &:hover {
            background-color: white;
            border: 1px black solid;
            color: black;
            transition: background-color .5s, border .5s, color .5s;
        }
    }

    &.hide {
        opacity: 0;
        transition: opacity .8s;
        z-index: 0;
    }
}